@import 'src/app/shared/styles/variables';

.title {
    padding-left: 40px;
    padding-top: 20px;
    color: $color-midnight;
    display: flex;
    align-items: center;

    .item-icon {
        font-size: 60px;
        margin-right: 30px;
    }
}