@import 'src/app/shared/styles/variables';

.carregando-menu-msg {
    padding: 15px;
    text-align: center;
}

.menu-filter {
    height: 35px;
    border: none;
    font-size: 18px;
    line-height: 24px;
    color: $color-gray;
    width: 80%;
    text-align: right;
    padding-right: 10px;
}

::ng-deep {
    .get-menu {
        color: $color-gray;
        font-size: 22px;
    }
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 10px);
    background-color: $color-midnight;
    color: $color-white;

    &.closed {
        margin-left: -250px;
    }

    .sidebar-header {
        padding: 15px 0;
        background-color: $color-white;
        border-right: 2px solid $color-gallery;
    }

    .menu-item {
        width: 100%;
        padding: 10px 20px 20px 15px;
        border-bottom: 1px solid $color-shakespeare;

        .flex-row {
            color: $color-white;

            ::ng-deep {
                .item-icon {
                    font-size: 30px !important;
                    position: relative !important;
                    top: 5px !important;
                    margin-right: 5px !important;
                }
            }

            .item-description {
                text-decoration: none;
                font-size: 18px;
                line-height: 24px;
            }

            .item-active {
                display: none;
                width: 25px;
                height: 25px;
                transform: rotate(45deg);
                position: absolute;
                left: 95%;
                margin-top: -25px;
            }

            &.active {
                .item-active {
                    background-color: $color-gallery;
                    display: block;
                }
            }

            &:hover {
                text-decoration: none;
                color: inherit;
            }
        }
    }

    @media (max-width: 768px) {
        & {
            margin-left: -250px;
        }

        &.closed {
            margin-left: 0;
        }
    }
}