$color-alabaster: #fafafa;
$color-alizarin-crimson: #E42C2C;
$color-alto: #dddddd;
$color-anakiwa: #81EEFC;
$color-anzac: #deb335;
$color-apple: #31C746;
$color-astral: #317ba7;
$color-black: #000000;
$color-blumine: #205F84;
$color-bolder: #777777;
$color-buttercup: #f39c12;
$color-peacock-blue: #004bad;
$color-cararra: #EBEBE4;
$color-carrot-orange: #f19b2c;
$color-catskill-white: #e1ecf0;
$color-cerulean: #0397d1;
$color-cerulean-light: #05b7fa;
$color-chambray: #324E7C;
$color-cinnabar: #ee3a3f;
$color-congress-blue: #003983;
$color-cornflower-blu: #6195ED;
$color-crown-of-thorns: #762224;
$color-deep-cerulean: #007FAF;
$color-dim-gray: #646464;
$color-dodger-blue: #1483FF;
$color-dove-gray: #666666;
$color-dusty-gray: #9a9a9a;
$color-dusk-blue: #205f84;
$color-ebb: #efecec;
$color-even: #f6f6f6;
$color-ecstasy: #F68423;
$color-edward: #a1a3a3;
$color-emperor: #555555;
$color-forest-green: #33A321;
$color-gallery: #EDEDED;
$color-gamboge: #e08e0b;
$color-golden-bell: #e69011;
$color-golden-rod: #f7c52d;
$color-gray: #8d8d8d;
$color-green-haze: #008e49;
$color-green-vogue: #052d61;
$color-hint-of-red: #F7F5F5;
$color-hor-toddy: #c4790a;
$color-iron: #D1D4D7;
$color-light-gray: #989898;
$color-lime-green: #1ec43a;
$color-limeade: #438606;
$color-madison: #0C2C5F;
$color-mexican-red: #B22424;
$color-midnight-blue: #00306e;
$color-mine-shaft: #333333;
$color-pizazz: #ff8900;
$color-pomegranate: #f42a3d;
$color-porcelain: #e7e8ea;
$color-punch: #dc4333;
$color-red: #ff0000;
$color-shakespeare: #3c97cd;
$color-silver-chalice: #a4a4a4;
$color-silver: #cccccc;
$color-tall-poppy: #AB2D2B;
$color-tangaroa: #031E41;
$color-tangerine: #F98600;
$color-thunderbird: #d53519;
$color-tundora: #444444;
$color-valencia: #DC4E41;
$color-west-side: #fe8f0d;
$color-white-smoke: #f4f4f4;
$color-white: #ffffff;
$color-wild-sand: #f5f5f5;
$color-gray-info: #f0f0f0;
$color-azureish-white:#E1EBEF;
$color-permanent-geranium-lake:#D63229;
$color-steel-blue: #3E7BA7;
$color-granite-gray: #646464;
$color-chinese-white: #e1e1e1;
$color-blue-jeans: #57AEF0;
$color-anti-flash-white: #F1F2F2;
$color-gray: #808080;
$color-shark: #25272C;
$color-midnight: #00233d;