@import 'src/app/shared/styles/variables';
@import "~@ng-select/ng-select/themes/default.theme.css";

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100% - 5px);
    align-items: stretch;
    font-family: $main-font;
    background-color: $color-gallery;
    padding: 5px;
    padding-right: 20px;
}
.content-wrapper {
    width: 100%;
}

.breadcrumb {
    padding: 20px 40px;

    .breadcrumb-item {
        a {
            color: $color-shark;
            font-size: 14px;
            line-height: 18px;
        }

        &+.breadcrumb-item::before {
            content:">";
        }
    }
}